<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Edicion Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/crearProducto.css">
    </head>
<body> 
    
    <%- include('../partials/header') %>
    
    <main class="main">
    <form action="/productos/crear" method="POST" class="contenedorFormulario">    
    <br/>
    <h2>Completá la información de tu producto</h2>
    <br/>
        <div class="formulario">
            <div class="nombreYdescripcion">
                <div class="campo">
                    <p><label for=""><strong>Nombre del producto</strong></label></p>   
                    <p><input type="text" id='nombre' name="nombre" placeholder="Nombre del producto" class="input"></p> 
                </div>
                <div class="campo">    
                    <p><label for=""><strong>Descripción</strong></label></p>   
                    <p><input type="text" id="descripcion" name="descripcion" placeholder="Descripción" class="input"></p> 
                </div>
            </div>
            
            <div class="precioYcategoria">
                <div class="campo">
                    <p><label for=""><strong>Categoría</strong></label></p>   
                    <p><input type="text" id="categoria" name="categoria" placeholder="Categoría" class="input"></p> 
                    <br/>
                </div>
                <div class="campo">
                    <p><label for=""><strong>Precio</strong></label></p>   
                    <p><input type="number" id="precio" name="precio" placeholder="Precio" class="input"></p>
                    <br/>
                </div>
                
            </div>

        </div>
        <div class="campo">
                <p><label for=""><strong>Imagen</strong></label></p>   
                <p><input type="file" id="imagen" name="imagen" placeholder="Imagen" class="input"></p> 
                <br/>                    
            </div>
    <p><button type="submit">Confirmar</button>
            <button type="submit">Volver</button>
            </p>
    </form>

    </main>
    <%- include('../partials/footer') %>
</body>
</html> 