<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Detalle de Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/detalleProducto.css">
    </head>

    <%- include('../partials/header') %>
<body>
        
    <main>
        <h1 class="nombre-producto"> <%= producto.nombre %> </h1>   
        <section class="producto">
            <img src="/images/destacado1.PNG" alt="cocina" class="product_img">
        </section>
        <section>
            <p class="price"></p>
        </section>
        <section class="agregar-carrito">
            <form action="/carritoCompras" method="get">
                <button type="submit"> Agregar al carrito</button>   
            </form>
        </section>   
        <section class="Descripcion">
            <h2> <strong> Descripcion del producto:</strong></h2>
            <p><%= producto.descripcion %></p>
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html> 