<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/carritoCompras.css">
    <link rel="icon" href="images/bellaVista.ico">
</head>
<body>
    <header class="main-header">
        <section class="header-top">
            <img class="logo" src="images/bellaVista.ico" alt="logo">
                    <section class="cont-barra-busqueda">
                        <p class="barra-busqueda">Busqueda</p>
                </section> 
                    <section class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </section>
        </section>
        <nav class="site">
            <ul class="left-nabvar">
                <li><a href="#" class="hrefStyle">Productos</a></li>
                <li><a href="#" class="hrefStyle">Ofertas</a></li>
                <li><a href="#" class="hrefStyle">Ayuda</a></li>
            </ul>
            
            <ul class="rigth-nabvar">
                <li>
                    <a href="#" class="hrefStyle">Carrito</a>
                </li>
                <li>
                    <a href="#" class="hrefStyle">Cuenta</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="title">Carrito de compras</h1>
    <main class="mainCarrito">
        <article class="productoCarrito">
            <img src="images/destacado4.PNG" alt="Batidora" class="product_img">
            <article class="main-article">
                <p class="description">Batidora de mesa Smartlife 1000W</p>
                <p class="price">$23.200</p>
                <p class="cantidad">
                    <strong>Cantidad: </strong>
                    <input
                      class="box"
                      type="number"
                      name="cantidad"
                      id="cantidad"
                      min="1"
                    />
                  </p>
            </article>
        </article>
        <article class="productoCarrito">
            <img src="images/destacado3.PNG" alt="Horno" class="product_img">
            <article class="main-article">
                <p class="description">Smartlife Horno eléctrico 40 lts</p>
                <p class="price">$70.500</p>
                <p class="cantidad">
                    <strong>Cantidad: </strong>
                    <input
                      class="box"
                      type="number"
                      name="cantidad"
                      id="cantidad"
                      min="1"
                    />
                  </p>
            </article>
        </article>
        <article class="productoCarrito">
            <img src="images/destacado1.PNG" alt="Cocina" class="product_img">
            <article class="main-article">
                <p class="description">COCINA PROFESIONAL</p>
                <p class="price">$230.000</p>
                <p class="cantidad">
                    <strong>Cantidad: </strong>
                    <input
                      class="box"
                      type="number"
                      name="cantidad"
                      id="cantidad"
                      min="1"
                    />
                  </p>
            </article>
        </article>
    </main>
    <form class="botones-carrito" action="/" method="GET">
        <button type="submit" id="finalizar">
            Finalizar Compra
          </button>
          <button type="submit" id="seguir"> Seguir comprando</button>
        </form>
</body>

<footer class="main-footer">

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry.</p>
                </article>
            </div>

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry. </p>
                </article>

            </div>

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry.</p>
                </article>
            </div> 
        </div>
    </div>
    <h4>Lorem Ipsum is simply dummy text of the 
        printing and typesetting industry</h4>
</footer>
</html> 