<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="icon" href="images/bellaVista.ico">
</head>
<body>
    <header class="main-header">
        <section class="header-top">
            <img class="logo" src="images/bellaVista.ico" alt="logo">
                    <section class="cont-barra-busqueda">
                        <p class="barra-busqueda">Busqueda</p>
                </section> 
                    <section class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </section>
        </section>
        <nav class="site">
            <ul class="left-nabvar">
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
            </ul>

            <ul class="rigth-nabvar">
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
       <p>
        <strong>Cantidad: </strong>
        <input
          class="box"
          type="number"
          name="cantidad"
          id="cantidad"
          min="1"
        />
      </p>
      <div class=>
        <h2>Total a pagar </h2>
        <div>
          <div><strong> Subtotal: </strong></div>
        </div>
        <div>
          <div>
            <strong>Envío: </strong> <br>
            <label>Calle:</label>
            <input type="text" name="street" placeholder="Calle">
            <label>Número:</label>
            <input type="text" name="number" placeholder="Número">
            <label>Provincia:</label>
            <input type="text" name="province" placeholder="Provincia">
            <label>Ciudad:</label>
            <input type="text" name="city" placeholder="Ciudad">
            <label>Departamento:</label>
            <input type="text" name="apartment" placeholder="Departamento">
            <label>Código Postal:</label>
            <input type="text" name="zip_code" placeholder="Código Postal">
            <div class="col-s-12 flex-box">
            <div><strong> Total: </strong></div>
              </div>
              <form action="/" method="GET">
                <button type="submit" id="finalizar">
                    Finalizar Compra
                  </button>
                  <button type="submit" id="seguir"> Seguir comprando</button>
                </form>
            </div>
                


    </main>

</body>
</html> 