<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomia Bella Vista</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="icon" href="images/bellaVista.ico">
</head>

<body>
    <header class="main-header">
        <section class="header-top">
            <img class="logo" src="images/bellaVista.ico" alt="logo">
                    <section class="cont-barra-busqueda">
                        <p class="barra-busqueda">Busqueda</p>
                </section> 
                <section class="burger-menu">
                <i class="fa fa-bars burger"></i>
                </section>
        </section>
        <nav class="site">
            <ul class="left-nabvar">
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
            </ul>
            
            <ul class="rigth-nabvar">
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="nombre-producto"> Nombre del producto </h1>   
        <section class="producto">
            <img src="images/destacado1.PNG"  alt="cocina" class="product_img">
        </section>
        <section>
            <p class="price">$23.200</p>
        </section>
        <section class="agregar-carrito">
            <form action="/carritoCompras" method="get">
                <button type="submit"> Agregar al carrito</button>   
            </form>
        </section>   
        <section class="Descripcion">
            <h2> <strong> Descripcion del producto:</strong></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section>
    </main>

</body>


<footer class="main-footer">

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry.</p>
                </article>
            </div>

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry. </p>
                </article>

            </div>

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry.</p>
                </article>
            </div> 
        </div>
    </div>
    <h4>Lorem Ipsum is simply dummy text of the 
        printing and typesetting industry</h4>
</footer>

</html> 