<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomia Bella Vista</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="images/bellaVista.ico">
</head>

<body>
    <header class="main-header">
        <section class="header-top">
            <img class="logo" src="images/bellaVista.ico" alt="logo">
                    <section class="cont-barra-busqueda">
                        <p class="barra-busqueda">Busqueda</p>
                </section> 
                <section class="burger-menu">
                <i class="fa fa-bars burger"></i>
                </section>
        </section>
        <nav class="site">
            <ul class="left-nabvar">
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
            </ul>
            
            <ul class="rigth-nabvar">
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img src="images/banner1.jpg" alt="Banner de ofertas">
    </section>
    
    <main>
        <section class="productos-destacados">
            <h2>Productos Destacados</h2>
            <div class="products">
                <article>
                    <img src="images/destacado1.PNG" alt="Cocina" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">COCINA PROFESIONAL</h4>
                    </div>
                </article>
                <article>
                    <img src="images/destacado2.PNG" alt="Cocina" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">COCINA PROFESIONAL</h4>
                    </div>
                </article> 
                <article>
                    <img src="images/destacado3.PNG" alt="Horno" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Smartlife Horno eléctrico 40 lts</h4>
                    </div>
                </article>
                <article>
                    <img src="images/destacado4.PNG" alt="Batidora" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Batidora de mesa Smartlife 1000W</h4>
                    </div>
                </article>
                
            </div>
        </section>
    </main>

</body>


<footer class="main-footer">

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry.</p>
                </article>
            </div>

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry. </p>
                </article>

            </div>

            <div class="col-12 col-md-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry.</p>
                </article>
            </div>
        </div>
    </div>
    <h4>Lorem Ipsum is simply dummy text of the 
        printing and typesetting industry</h4>
</footer>

</html> 