<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomia Bella Vista</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="icon" href="images/bellaVista.ico">
</head>
<body>
    <header class="main-header">
        <section class="header-top">
            <img class="logo" src="images/bellaVista.ico" alt="logo">
                    <section class="cont-barra-busqueda">
                        <p class="barra-busqueda">Busqueda</p>
                </section> 
                    <section class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </section>
        </section>
        <nav class="site">
            <ul class="left-nabvar">
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
                <li><a href="#" class="hrefStyle">Boton</a></li>
            </ul>

            <ul class="rigth-nabvar">
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
                <li>
                    <a href="#" class="hrefStyle">Boton</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/" method="GET">

            <p><input type="text" id="name" name="name" placeholder="Nombre y apellido"></p> 

            <p><input type="text" id="username" name="username" placeholder="Nombre de usuario"></p> 

            <p><input type="email" id="email" name="email" placeholder="E-mail"></p> 

            <p><label for=""><strong>Fecha de Nacimiento</strong></label></p>   
            <p><input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento"></p> 
    
            <p><label for=""><strong>Elegí tu foto de usuario</strong></label></p>
            <input type="file" name="foto" value="fotoDeUsuario">

            <p><input type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña"></p>
            <p><input type="password" id="contraseña" name="contraseña" placeholder="Confirmá tu contraseña"></p>

            <p><button type="submit">Confirmar</button>
            <button id="reset-button" type="reset">Borrar</button>
            </p>
        </form>
    </main>

</body>
</html> 