*{
    font-size: '12px';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.site ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-----HEADER------*/

.hrefStyle {
    color:black;
    background-color:#D9D9D9 ;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    
}

main {
    flex-direction: column;
}
input {
    width: 20%
}
.botones-carrito {
    margin-top: 30px;
    text-align: center;
}
.title {
    margin-top: 15px;
    text-align: center;
}
.price {
    text-align: right;
}
.description {
    font-size: 80%;
    text-align: left;
}
.cantidad {
    align-self: flex-end;
}
.main-article {
    padding: 2%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.product_img
{
    border: red;
    margin: auto;
    width: 30%;
    height: 30%;
    padding: 2px; 
  
}
.productoCarrito {
    display: flex;
    margin: 10px;
    padding: 2px; 
}
/*====== Footer ======*/

.main-footer{
    background-color: orange;
    text-align: center;
    height: 10%;
    

}
.container {

    background-color: #8A8383;
    padding: 20px 0;
    width: 100%;
    height: 15%;
    margin-top: 80px;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-data {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.footer-data i {
    color: var(--light-blue);
    font-size: 16px;
    padding: 5px 0;
}

.footer-data h2 {
    color: var(--gray);
    font-size: 13px;
    font-weight: 300;
}

.footer-data p {
    color: var(--gray);
    font-size: 10px;
    font-weight: 200;
}

sub-footer {
    border-top: 1px solid var(--light-gray);
    background-color: #ffffff;
}

.sub-footer p {
    margin: 0;
    color: var(--gray);
    padding: 15px 0;
}

@media (max-width: 768px) {
    .logo {
        width: 15%;
        height: 5%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .site {
        display: none;
    }
    section.burger-menu{
        width: 15%;
        height: 50%;
        margin-top: 5%;
        margin: auto;

    }
    section.burger-menu i {
        padding:35%;
        color:white;
    }
}
@media (min-width: 768px) {
    .logo {
        width: 15%;
        height: 5%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    section.burger-menu{
        display: none;
    }
    .site {
        display: flex;
        background-color: #D9D9D9;
    }
    .left-nabvar li{
        margin-right: 25%;
        background-color: #534E4E;
        height: 80%;
    }
    .rigth-nabvar li{
        background-color: #534E4E;
        width: 100%;
        margin-left: 20%;
    }
    .site ul {
        display: flex;
        margin: auto;
    }

    .mainCarrito {
        padding: 2%;
        justify-content:flex-start;
        flex-direction: row;
        display: flex;
        align-items: flex-start;
    }
    .product_img
    {
        border: red;
        margin: auto;
        width: 60%;
        height: 60%;
        padding: 2px; 
    }
    .productoCarrito {
        display: flex;
        margin: 10px;
        padding: 2px; 
    }

    .main-article {
        padding: 2%;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }
    .description{
        font-size: 2vw;
    }


}
@media (min-width: 1200px) {
    .logo {
        width: 10%;
        height: 5%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .site {
        display: flex;
    }
}