* {
    font-size: '12px';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.site ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hrefStyle {
    color:black; 
    background-color:#D9D9D9 ;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.main {
    background-color: #8A8383;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: center;
} 

/*====Estilo del formulario====*/

.contenedorFormulario h2{

    color: black;
    font-size: 24px;
    text-align: center;
}
.campo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: white;
    text-align: left;
    font-size: 18px;
    color: rgba(0,0,0,.6)
    
}

.nombreYdescripcion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
    
}

.precioYcategoria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}

.input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #8A8383;
    font-style: italic;
    font-size: 16px;
    margin: 8px 0 4px;
    padding: 0;
    text-align: left;
    
}

/*====== Footer ======*/

.main-footer{
    background-color: orange;
    text-align: center;
    height: 10%;
    margin-bottom: 0;
}
.container {

    background-color: #8A8383;
    padding: 20px 0;
    width: 100%;
    height: 15%;
    margin-top: 10px;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-data {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.footer-data i {
    color: var(--light-blue);
    font-size: 16px;
    padding: 5px 0;
}

.footer-data h2 {
    color: var(--gray);
    font-size: 13px;
    font-weight: 300;
}

.footer-data p {
    color: var(--gray);
    font-size: 10px;
    font-weight: 200;
}
main form p input{
    text-align: center;
}

section.banner img{
    width: 100%;
}

@media (max-width: 768px) {
    .logo {
        width: 15%;
        height: 5%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .site {
        display: none;
    }
    section.burger-menu{
        width: 15%;
        height: 50%;
        margin-top: 5%;
        margin: auto;

    }
    section.burger-menu i {
        padding:35%;
        color:white;
    }
}
@media (min-width: 768px) {

    section.banner img{
    padding: 3px 0px;
    display: block;
    width: 100%;
    height: 25vh;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 15%;
    height: 5%;
}
.header-top {
    background-color: #8A8383;
    width: 100%;
    display: flex;
}
.cont-barra-busqueda {
    width: 85%;
    margin: auto;
}
.barra-busqueda {
    background-color: #D9D9D9;
    justify-content: center;
    width: 80%;
    margin: auto;
    display: flex;
}
section.burger-menu{
    display: none;
}
.site {
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-around;
    }
.site ul {
    display: flex;
}
.left-nabvar li{
    margin: 5px;
}
.rigth-nabvar li{
    margin: 5px;
}

}
@media (min-width: 1200px) {
        .logo {
        width: 10%;
        height: 5%;
    }
    .main-header {
        border: solid 1px blue;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .site {
        display: flex;
    }
}