*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.site ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-----HEADER------*/

.hrefStyle {
    color:black;
    background-color:#D9D9D9 ;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    
}

/*-----BANNER------*/

section.banner img{
    padding: 3px 0px;
    display: block;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

/*-----PRODUCTOS DESTACADOS------*/

.productos-destacados
{
width: 100%;

}

/*Frase "Productos destacados"*/
main section h2
{
    text-align: center;
    color: #8A8383;
    margin: 20px 0px;
    font-size: 55px;
}

/*Contenedor de productos"*/

.products
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
text-align: center;
margin: 10px;
padding: 10px; 
height: 50%;
align-items: center;

}


/*Tarjeta Productos*/
.card {
   
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient_1258-48264.jpg);
    margin: 15px;
    border-radius: 15%;

    
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 17px;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
  
   
   

/*Imagenes de los productos*/

.product_img
{
    width: 224px;
    height: 224px;
    margin: 10px;
    padding: 2px; 
    border-radius: 50%;
}


/*Flete*/

.fas {
color: #39b54a;

    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    margin-bottom: 2%;
    }


/*====== Footer ======*/

.main-footer{
    background-color: orange;
    text-align: center;
    height: 10%;
}
.container {

    background-color: #8A8383;
    padding: 20px 0;
    width: 100%;
    height: 15%;
    margin-top: 80px;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-data {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.footer-data i {
    color: var(--light-blue);
    font-size: 16px;
    padding: 5px 0;
}

.footer-data h2 {
    color: var(--gray);
    font-size: 13px;
    font-weight: 300;
}

.footer-data p {
    color: var(--gray);
    font-size: 10px;
    font-weight: 200;
}

sub-footer {
    border-top: 1px solid var(--light-gray);
    background-color: #ffffff;
}

.sub-footer p {
    margin: 0;
    color: var(--gray);
    padding: 15px 0;
}

@media (max-width: 768px) {     
    .logo {
        width: 15%;
        height: 5%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .site {
        display: none;
    }
    section.burger-menu{
        width: 15%;
        height: 50%;
        margin-top: 5%;
        margin: auto;

    }
    section.burger-menu i {
        padding:35%;
        color:white;
    }
    /*====== Footer ======*/

    .main-footer{
        background-color: orange;
        text-align: center;
        height: 10%;
    }
    .container {
        background-color: #8A8383;
        padding: 20px 0;
        width: 100%;
        height: 15%;
        margin-top: 30px; 
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-data {
        background-color: darkgray;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }

    .footer-data i {
        color: var(--light-blue);
        font-size: 16px;
        padding: 5px 0;
    }

    .footer-data h2 {
        color: var(--gray);
        font-size: 13px;
        font-weight: 300;
    }

    .footer-data p {
        color: var(--gray);
        font-size: 10px;
        font-weight: 200;
    }

    sub-footer {
        border-top: 1px solid var(--light-gray);
        background-color: #ffffff;
    }

    .sub-footer p {
        margin: 0;
        color: var(--gray);
        padding: 15px 0;
    }

}
@media (min-width: 768px) {

        section.banner img{
        padding: 3px 0px;
        display: block;
        width: 100%;
        
        align-items: center;
        justify-content: center;
    }
    .logo {
        width: 15%;
        height: 5%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    section.burger-menu{
        display: none;
    }
    .site {
        display: flex;
        background-color: #D9D9D9;
        justify-content: space-around;
        }
    .site ul {
        display: flex;
    }
    .left-nabvar li{
        margin: 5px;
    }
    .rigth-nabvar li{
        margin: 5px;
    }
    
}
@media (min-width: 1200px) {
    section.banner img{
        padding: 3px 0px;
        display: block;
        width: 100%;
        height: 500px;
       
    }
    .logo {
        width: 5%;
        height: 2%;
    }
    .header-top {
        background-color: #8A8383;
        width: 100%;
        display: flex;
    }
    .cont-barra-busqueda {
        width: 85%;
        margin: auto;
    }
    .barra-busqueda {
        background-color: #D9D9D9;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .site {
        display: flex;
    }
}
