<header class="main-header">
    <section class="header-top ">
        <img class="logo" src="/images/bellaVista.ico" alt="logo">
                <section class="cont-barra-busqueda">
                    <center>
                        <h2>Gastronomia Bella vista</h2>
                    </center>
                </section> 
            <section class="burger-menu">
            <i class="fa fa-bars burger"></i>
            </section>
    </section>
    <nav class="site">
        <ul class="left-nabvar">
            <li><a href="/" class="hrefStyle">Home</a></li>
        </ul>
         
        <ul class="rigth-nabvar">
            <li><a href="/login" class="hrefStyle">Login</a></li>
            <li><a href="/registro" class="hrefStyle">Registrarse</a></li>
        </ul>
    </nav>
</header>