<header class="main-header">
    <section class="header-top ">
        <img class="logo" src="/images/bellaVista.ico" alt="logo">
                <section class="cont-barra-busqueda">
                    <p class="barra-busqueda">Busqueda</p>
            </section> 
            <section class="burger-menu">
            <i class="fa fa-bars burger"></i>
            </section>
    </section>
    <nav class="site">
        <ul class="left-nabvar">
            <li><a href="/" class="hrefStyle">Home</a></li>
            <li><a href="/productos" class="hrefStyle">Productos</a></li>
            <li><a href="/ofertas" class="hrefStyle">Ofertas</a></li>
        </ul>
         
        <ul class="rigth-nabvar">
            <li> <a href="/productos/crear" class="hrefStyle">Vender<a></li>
            <li><a href="/carritoCompras" class="hrefStyle">Carrito</a></li>                     
            <li><a href="/logout" class="hrefStyle">Logout</a></li>
        
        
        </ul>
  
    </nav>
</header>