<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Login</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/login.css">
    </head>

<body> 
    
    <%- include('../partials/header') %>
    
    <main class="main">
        <form action="/" method="GET" class="mainForm"> 
            <br/>
            <p><label for=""><strong>Nombre de usuario</strong></label></p>   
            <br/>
            <p><input type="text" name="username" id="username" placeholder="Nombre de usuario"></p>
            <br/>
            <p><label for=""><strong>Ingresá tu contraseña</strong></label></p>   
            <br/>
            <p><input type="password" name="contraseña" id="contraseña" placeholder="Ingresá tu contraseña"> 
            <br/>
            <br/>
            <button type="submit">Iniciar Sesión</button>
            </p>
        </form>
    </main>
</body>
<%- include('../partials/footer') %>
</html> 