<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Login</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/login.css">
    </head>

<body> 
    
    <%- include('../partials/headerSinLogin') %>
     
    <main class="main">
        <form action="/login" method="POST" class="mainForm"> 
            <br/>
            <p><label for=""><strong>Email de usuario</strong></label></p>   
            <br/>
            <p><input type="email" name="email" id="email" placeholder="Ingresá tu email"></p>
            <br/>
            <p><label for=""><strong>Ingresá tu contraseña</strong></label></p>   
            <br/>
            <p><input type="password" name="contrasenia" id="contrasenia" placeholder="Ingresá tu contraseña"> 
            <br/>
            <br/>
            <button type="submit">Iniciar Sesión</button>
            <br/>
            <br/>
            <label><input type="checkbox" name="remember" id="remember"> Recordar usuario</label><br>

            </p>
        </form>
    </main>
</body>
<%- include('../partials/footer') %>
</html> 