<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Registro</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/registro.css">
    </head>
<body> 
    
    <%- include('../partials/header') %>
    
    <main class="main">
        <form action="/registro" method="POST" class="contForm" enctype="multipart/form-data">    
            <br/>
            <p><label for=""><strong>Nombre</strong></label></p>   
            <p><input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido"></p> 
            <br/>
            <p><label for=""><strong>Apellido</strong></label></p>   
            <p><input type="text" id="apellido" name="apellido" placeholder="Nombre de usuario"></p> 
            <br/>
            <p><label for=""><strong>Email</strong></label></p>   
            <p><input type="email" id="email" name="email" placeholder="E-mail"></p> 
            <br/>
            <p><label for=""><strong>Categoria</strong></label></p>   
            <p><input type="text" id="categoria" name="categoria"></p> 
            <br>
            <p><label for=""><strong>Elegí tu contraseña</strong></label></p>   
            <p><input type="password" id="contrasenia" name="contrasenia" placeholder="Elegí tu contraseña"></p>
            <br/>
            <p><label for=""><strong>Confirma tu contraseña</strong></label></p>   
            <p><input type="password" id="contrasenia2" name="contrasenia2" placeholder="Elegí tu contraseña"></p>
            <br/>
            <div class="campo">
                <p><label for=""><strong>Imagen</strong></label></p>   
                <p><input type="file" id="imagen" name="imagen" placeholder="Imagen" class="input"></p>                    
            </div>
            <br/>
            

            <p><button type="submit">Confirmar</button>
            <button type="submit">Volver</button>
            </p>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html> 